<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" th:src="@{/css/form.css}" href="/css/form.css"/>
    <link rel="stylesheet" type="text/css" th:src="@{/css/general.css}" href="/css/general.css"/>
    <title>Edit user information</title>
</head>
<body>
<form th:action="@{/admin/updateUser}" class="cf" method="post">
    <div class="half left cf">
        <input type="text" th:value="${user.username}" name="username" readonly="readonly"/>
        <input type="password" th:value="${user.password}" name="password"/>
    </div>
    <div th:if="${param.error}" align="center">
        Invalid data! Please check again.
    </div>
    <div class="half right cf">
        <select name="role">
            <option disabled="disabled">Role</option>
            <option value="ROLE_USER">User</option>
            <option value="ROLE_ADMIN">Admin</option>
        </select>
    </div>
    <input type="submit" value="Submit" id="input-submit"/>
</form>
</body>
</html>